.header {
    width: 97.7%;
    height: 6rem;
    background-color: #373F47;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 1rem;
  }
  
  .divlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AAABBC;
    height: 90%; 
    flex: 1; 
  }
  
  .divpesquisa {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%; 
    flex: 3; 
  }

.divusuario {
    display: flex;
    align-items: center;
  }
  
  .divusuario button {
    margin-left: 0.4rem; 
    padding: 0.5rem 1rem;
    font-size: 1rem; 
    background-color: #6C91C2; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .divusuario button:hover {
    background-color: #45a049; 
  }
  
  